<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960728487581-e9ajfih1rb2r3c850iibtvg3ihgc8pcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960728487581-e9ajfih1rb2r3c850iibtvg3ihgc8pcn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960728487581-inrb0gcsdk18rb51d85rp6grja6ddiji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBubgCi2PBD8O6F1jMH50ifImz5gGhL8jk</string>
	<key>GCM_SENDER_ID</key>
	<string>960728487581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.joyjoy.app</string>
	<key>PROJECT_ID</key>
	<string>joyjoy-bd495</string>
	<key>STORAGE_BUCKET</key>
	<string>joyjoy-bd495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960728487581:ios:b309a6dd27688463d3e674</string>
</dict>
</plist>